sudo: required
dist: trusty
language: c
matrix:
  include:
  - os: osx
    env: NODE_VERSION=8
  - os: linux
    env: CC=clang CXX=clang++ npm_config_clang=1 NODE_VERSION=7
    compiler: clang
node_js:
- 8
cache:
  directories:
  - node_modules
  - $HOME/.npm
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - icnsutils
    - graphicsmagick
    - libgnome-keyring-dev
    - xz-utils
    - xorriso
    - xvfb
before_install:
- if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg
  | sudo apt-key add -; echo "deb https://dl.yarnpkg.com/debian/ stable main" | sudo
  tee /etc/apt/sources.list.d/yarn.list; sudo apt-get update -qq; fi
- if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update; npm install -g 7zip-bin-mac;
  fi
install:
- nvm install $NODE_VERSION
- nvm use --delete-prefix $NODE_VERSION
- npm install
script:
- npm rebuild node-sass
- npm run ci:all
after_success:
- openssl aes-256-cbc -K $encrypted_40cbf57c34aa_key -iv $encrypted_40cbf57c34aa_iv
  -in .snapcraft/travis_snapcraft.cfg -out .snapcraft/snapcraft.cfg -d
- if [[ "$TRAVIS_BRANCH" == "master" ]]; then npm run ci:deploy; fi
services:
- docker
deploy:
  'on':
    branch: master
  provider: script
  script: docker run -v $(pwd):$(pwd) -t snapcore/snapcraft sh -c "apt update -qq
    && cd $(pwd) && snapcraft && snapcraft push *.snap --release edge"
  skip_cleanup: true
