
#container
{
    -fx-min-width: 300px;
    -fx-max-width: 300px;
    -fx-padding: 0 10px;
}

#imageView
{

}

#postCard
{
    -fx-background-color: white;
    -fx-padding: 10px;
}


.commentsIcon {
    /*
    -fx-shape: "M24.732 24.371v7.629l-7.267-7.267h-8.808c-4.781 0-8.657-3.875-8.657-8.657v-7.42c0-4.781 3.876-8.657 8.657-8.657h13.604c4.781 0 8.657 3.875 8.657 8.657v7.42c0 3.922-2.61 7.23-6.186 8.294z";
    */

    -fx-fill: black;
}

.commentsIcon:hover {
    -fx-fill: red;
}

#textLabel
{
    -fx-font-weight: normal;
    -fx-padding: 0 0 10px 0;
    -fx-font-size: 12pt;
}

.content
{
}

.label
{
    -fx-font-weight: bold;
}

.margin
{
    -fx-min-height: 15px;
    -fx-min-width: 15px;

    /*
    -fx-background-color: red;
    */
}