#upvoteButton {
    -fx-shape: "M13.026 29.002c-7.177 0-13.026-5.8-13.026-13.026s5.849-13.026 13.026-13.026 13.026 5.849 13.026 13.026-5.849 13.026-13.026 13.026zM12.289 15.73c0-0.541-0.442-0.983-0.983-0.983h-1.966v-1.966c0-0.541-0.442-0.983-0.983-0.983h-0.492c-0.541 0-0.983 0.442-0.983 0.983v1.966h-1.966c-0.541 0-0.983 0.442-0.983 0.983v0.492c0 0.541 0.442 0.983 0.983 0.983h1.966v1.966c0 0.541 0.442 0.983 0.983 0.983h0.492c0.541 0 0.983-0.442 0.983-0.983v-1.966h1.966c0.541 0 0.983-0.442 0.983-0.983v-0.492zM22.12 15.73c0-0.541-0.442-0.983-0.983-0.983h-1.966v-1.966c0-0.541-0.442-0.983-0.983-0.983h-0.492c-0.541 0-0.983 0.442-0.983 0.983v1.966h-1.966c-0.541 0-0.983 0.442-0.983 0.983v0.492c0 0.541 0.442 0.983 0.983 0.983h1.966v1.966c0 0.541 0.442 0.983 0.983 0.983h0.492c0.541 0 0.983-0.442 0.983-0.983v-1.966h1.966c0.541 0 0.983-0.442 0.983-0.983v-0.492z";
}

#downvoteButton {
    -fx-shape: "M13.026 29.002c-7.177 0-13.026-5.8-13.026-13.026s5.849-13.026 13.026-13.026 13.026 5.849 13.026 13.026-5.849 13.026-13.026 13.026zM12.289 15.73c0-0.541-0.442-0.983-0.983-0.983h-5.407c-0.541 0-0.983 0.442-0.983 0.983v0.983c0 0.541 0.442 0.983 0.983 0.983h5.407c0.541 0 0.983-0.442 0.983-0.983v-0.983zM21.137 15.73c0-0.541-0.442-0.983-0.983-0.983h-5.407c-0.541 0-0.983 0.442-0.983 0.983v0.983c0 0.541 0.442 0.983 0.983 0.983h5.407c0.541 0 0.983-0.442 0.983-0.983v-0.983z";
}

.button
{
    -fx-background-color: rgb(170,170,184);
}

.button:hover
{
    -fx-background-color: rgb(213, 81, 97)
}

