.drawer_anchorpane {
    -fx-background-color: "#40425b";
}

.drawer_buttons {
    -fx-background-color: "#40425b";
    -fx-text-fill: "white";
    -fx-font-size: 18;
    -fx-padding: 3;
    -fx-background-radius: 0;
}

.drawer_collapsible {
    -fx-background-color: "#40425b";

}

.drawer_uncollapsible {
    -fx-background-color: "#40425b";
}
