.popup_container
  height: 100vh
  width: 100vw
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex
  z-index: 299
  justify-content: center
  align-items: center
  .popup
    background-color: #C14857
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    border-radius: 5px
    span
      padding: 2rem
      font-size: 1.2rem
      color: white
    .actions
      width: 100%
      display: flex
      border-top: 1px solid grey
      button
        flex: 1
        margin: 0
