.post_rant_container
  height: 100%
  width: 100%
  display: flex
  .utils
    padding: 0 2rem 0 0.5rem;
    flex: 1
  .post_rant
    display: flex
    flex-direction: column
    padding: 0 0.5rem 0 2rem;
    flex: 1
    height: 100%
    .smart_area
      height: 100%
      textarea
        &.smart_textarea
          flex: 10
        &.tags
          flex: 1
          margin-top: 0.5rem
