.profile_container
  justify-content: center
  display: flex
  align-items: flex-start
  .no_user
    color: white
    font-size: 1.3rem
    height: 100%
    display: flex
    align-items: center
  .user_contents
    position: relative
  .profile
    max-width: 50rem
    display: flex
    flex-direction: column
    align-items: center
    background-size: cover
    background-repeat: no-repeat
    margin: calc(1.1rem + 30px) 0 0 0
    padding: 1rem
    position: relative
    *
      z-index: 100
    &::before
      content: " "
      background: rgba(64, 65, 90, 0.9)
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
    .image
      flex: 2
      img
        width: 150px
        height: 150px
        border-radius: 100%
    .details
      flex: 7
      display: flex
      padding: 0 1rem
      margin-top: 1rem
      color: white
      flex-direction: column
      .name_score
        font-family: 'Roboto', sans-serif
        display: flex
        justify-content: center
        .name
          font-size: 1.7rem
          font-weight: 300
        .score
          font-size: 0.9rem
          margin-left: 0.3rem
          margin-top: 2px
    .other_infos
      ul
        list-style: none
        padding: 0px
        li
          display: flex
          margin: 0.5rem 0rem
          i
            margin-right: 0.8rem
            font-size: 1.6rem
            min-width: 1.8rem
            text-align: center
          p
            margin: 4px 0px
            flex: 1
