.weekly_container
  height: 100vh
  width: 100%
  margin: 0 0.5rem
  display: flex
  flex-direction: column
  align-items: center
  .weekly_expand_cont
    margin-left: calc(-1px - 0.5rem)
    position: absolute
    z-index: 89
    top: 4.5rem
    transform: translateY(-18px)
    opacity: 0
    transition: all 0.2s
    pointer-events: none
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3)
    &.active
      pointer-events: all
      transform: translateY(0px)
      opacity: 1
      display: block
    .weekly_expand
      max-height: 27rem
      overflow-y: scroll
      background: #40415a
      overflow-x: hidden
      margin: 0.3rem
      .weekly_selection
        max-width: 26rem
        &.active
          background-color: #C14857
  .selection_main
    margin-top: 0.5rem
    margin-left: calc(-10px - 0.5rem)
  .weekly_selection
    display: flex
    padding: 0.15rem 0 0.15rem 0
    min-height: 3rem
    align-items: center
    background-color: #40415A
    color: white
    user-select: none
    transition: all 0.2s
    .weekly_option
      display: flex
      flex-direction: row
      width: 100%
      margin-left: 1rem
      .selBtn
        margin-right: 1rem
      .weekDesc
        flex: 1
    &:hover
      cursor: pointer
      background-color: #C14857
