.weekly_container
  height: 100vh
  width: 100%
  margin: 0 0.5rem
  display: flex
  flex-direction: column
  align-items: center
  .weekly_selection
    display: flex
    margin: 0.5rem 0
    margin-left: calc(-10px - 0.5rem)
    height: 3rem
    padding-left: 1rem
    align-items: center
    background-color: #40415A
    color: white
    transition: all 0.4s
    &:hover
      cursor: pointer
      background-color: #C14857
