<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>devRantron</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="res/fonts/icon.css" >
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" >
</head>

<body>
	<div id="root"></div>
	<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
	<script>if (window.module) module = window.module;</script>
</body>

</html>
