#root{
    text-align: center;
}
.main{
    position: relative;
    margin-top: 5vh;
}

/***** Dark Theme *****/

.btn {
	background-color: #40415A;
}

.btn:hover {
	background-color: #54556E;
}

.side_nav_toggle {
	border-radius: 0;
	box-shadow: none;
}

.side_nav_toggle:hover {
	box-shadow: none;
}

.side_nav_toggle:focus {
	background-color: #54556E;
}

.static_side_nav > ul > li > a, .togglable_side_nav > ul > li > a{
	border-radius: 0;
	box-shadow: none;
}

.static_side_nav > ul > li > a:hover,
.togglable_side_nav > ul > li > a:hover {
	box-shadow: none;
}

.static_side_nav > ul > li > a:focus,
.togglable_side_nav > ul > li > a:focus {
	background-color: #54556E;
}

.top_nav {
	height: 100%;
	width: 80%;
	margin: auto;
}

.header {
	position: fixed;
	top: 0;
	left: 70px;
	width: calc(100% - 70px);
	height: 36px;
	background-color: #40415A;
}

.top_nav {
	text-align: center;
}

.top_nav > ul {
	margin: 0;
	display: inline-block;
}

.top_nav > ul > li {
	color: white;
	float: left;
	line-height: 36px;
	margin-right: 1.2rem;
	font-weight: 300;
	font-size: 1.2rem;
}

.static_side_nav {
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #40415A;
	width: 70px;
	z-index: 9;
}

.static_side_nav > ul {
	margin-top: 0;
}

.static_side_nav > ul > li > a {
	max-width: 70px;
}

.togglable_side_nav {
	position: fixed;
	height: 100%;
	top: 36px;
	left: 70px;
	background-color: #40415A;
	text-align: left;
}

.togglable_side_nav > ul {
	margin-top: 0;
	display: inline-block;
}

.togglable_side_nav > ul > li > a {
	text-align: left;
	padding-left: 0.5rem;
	width: 150px;
}

.togglable_side_nav {
  transition:all .25s ease;
}

.rants {
	z-index: -1;
	position: relative;
	left: 70px;
	width: calc(100% - 70px);
	height: calc(100vh - 36px);
}

.rants > h1 {
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}
