.bottom_bar_container
  font-size: 1.5rem
  display: flex
  background-color: #40415A
  padding: 0.5rem
  .score
    flex: 2
    font-size: 1rem
    display: flex
    align-items: center
    justify-content: center
  .padding
    flex: 7
  .comments
    display: flex
    align-items: center
    justify-content: center
    font-size: 1rem
    span
      padding-left: 0.5rem
  .upvote, .downvote, .comments
    display: flex
    justify-content: center
    align-items: center
  .upvote, .downvote
    border-radius: 100%
    font-size: 1.2rem
    height: 2rem
    width: 2rem
    cursor: pointer
    position: relative
    .ud_icon
      z-index: 100
    &:hover
      background-color: rgb(84, 85, 110)
    &.disabled
      opacity: 0.5
      cursor: default
        cursor: default
    &.upvoted::before
      transform: scale(1)
    &.downvoted::before
      transform: scale(1)
    &::before
      content: " "
      height: 2rem
      width: 2rem
      position: absolute
      top: 0px
      right: 0px
      border-radius: 100%
      background-color: #D55161
      z-index: 95
      transform: scale(0)
      transition: transform 0.2s cubic-bezier(0.4, 0.0, 0.0, 1.4)
  .upvote
    span:nth-child(1)
      padding-right: 0.1rem
  .downvote
    span:nth-child(1)
      padding-right: 0.2rem
  div
    text-align: center
    transition: all 0.2s ease
