// !compileOnSave

.column
  height: 100vh
  width: 27rem
  overflow: hidden
  .items_container
    overflow-y: scroll
    padding: 0rem 0rem 1rem 1rem
    height: calc(100vh - 2.8rem - 1.5rem)
  .column_topbar
    max-width: 400px
    margin: 0rem 0.7rem 0.5rem 1rem
    padding: 1rem 0 0.4rem 0.4rem
    display: flex
    align-items: center
    border-bottom: 1px solid grey
    span
      padding: 0 1rem 0 0;
      color: white
      opacity: 0.4
      transition: all 0.1s
      &:hover
        cursor: pointer
        transform: scale(1.2)
    span.active
      opacity: 1
      transform: scale(1.2)
