// !compileOnSave
body.#{$theme}
  overflow-x: hidden
  #root
      text-align: center

  .main
      position: relative
      margin-top: 5vh

  .btn
    background-color: $main-color
    &:hover
      background-color: $selected-color

  .top_nav
    height: 100%
    width: 80%
    margin: auto

  .top_nav
    position: fixed
    top: 0
    left: 70px
    width: calc(100% - 70px)
    height: 36px
    z-index: 175
    background-color: $main-color
    text-align: center
    ul
      margin: 0
      display: inline-block
      li
        color: white
        float: left
        line-height: 36px
        margin-right: 1.2rem
        font-weight: 300
        font-size: 1.2rem

  .side_nav
    position: fixed
    height: 100%
    min-width: 70px
    top: 0
    left: 0
    background-color: $main-color
    z-index: 99
    ul
      margin-top: 0
      li
        a
          max-width: 70px

  .side_nav > ul > li > a, .togglable_side_nav > ul > li > a
    border-radius: 0
    box-shadow: none

  .side_nav > ul > li > a:hover, .togglable_side_nav > ul > li > a:hover
    box-shadow: none

  .side_nav > ul > li > a:focus, .togglable_side_nav > ul > li > a:focus
    outline: none

  .side_nav_toggle
    border-radius: 0
    box-shadow: none
    max-width: 70px
    position: absolute
    top: 0
    left: 0
    &:focus
      outline: none

  .drawer_icon
    width: 70px
    float: left

  .drawer
    position: absolute
    top: 36px
    left: 0
    height: calc(100% - 36px)
    font-weight: 300
    font-size: 1.2rem
    color: white
    z-index: 9
    background-color: $main-color
    transition: width .25s ease

  .drawer_item
    height: 36px
    line-height: 36px
    position: relative
    cursor: pointer
    &:hover
      background-color: $selected-color

  .drawer_text
    width: 130px
    text-align: left
    padding-left: 5px
    margin-left: 70px

  .drawer_background
    position: absolute
    height: calc(100% - 36px)
    background-color: $main-color
    width: 130px
    left: 70px
    top: 36px
    z-index: 8
    transition: all .25s ease
