.post_comment
  position: absolute
  bottom: 1rem
  display: flex
  flex-direction: column
  padding-right: 2rem
  height: $post_comment_height
  textarea
    background-color: white
    color: black
    word-wrap: break-word
    resize: none
    flex: 8
    font-family: 'Roboto', sans-serif
    font-size: 1rem
    padding: 0.5rem
  button
    flex: 2
.comments_container
  h4
    text-align: center;
    color: white;
    margin-top: 0;
    font-weight: 200
.comment_card
  margin-bottom: 1rem
  border-radius: 3px
  transition: all 0.2s ease
  margin-right: 0.5rem
  .top_container
  .details
    p
      padding: 0px
  p
    white-space: pre-wrap
    padding: 1rem
    margin: 0px
  img
    width: 100%
