// !compileOnSave

.user_compact
  //background: url(./../images/empty_avatar.png)
  height: 10rem
  background-size: 100% 100% !important
  background-repeat: no-repeat !important
  position: relative
  display: flex
  align-items: center
  justify-content: center
  .user_bg_tint
    position: absolute
    top: 0px
    left: 0px
    height: 100%
    width: 100%
    opacity: 0.66
    z-index: 250
  .user_image
    position: relative
    height: 7.5rem
    width: 7.5rem !important
    z-index: 500
    border-radius: 100%
