// !compileOnSave

.user_compact
  //background: url(./../images/empty_avatar.png)
  height: 10rem
  background-size: 100% 100% !important
  background-repeat: no-repeat !important
  position: relative
  display: flex
  align-items: center
  justify-content: center
  .user_bg_tint
    position: absolute
    top: 0px
    left: 0px
    height: 100%
    width: 100%
    opacity: 0.66
    z-index: 250
  .user_image
    position: relative
    height: 7.5rem
    width: 7.5rem !important
    z-index: 500
    border-radius: 100%
  .logout
    position: absolute
    bottom: 5px
    left: 10px
    font-size: 1.5rem
    z-index: 300
    display: flex
    align-items: center
    transition: all 0.1s ease
    color: white
    cursor: pointer
    i
      text-shadow: 0px 0px 4px rgba(0,0,0,0.4)
    &:hover::after
      margin-left: 0.2rem
      opacity: 1
      text-shadow: 0px 0px 4px rgba(0,0,0,0.4)
    &::after
      content: "Logout"
      font-size: 1rem
      margin-left: -1.4rem
      opacity: 0
      transition: opacity 0.2s, margin-left 0.2s
