// !compileOnSave
.login_view
  background: $selected-color
  height: 100vh
  overflow: hidden
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  @keyframes logo_In
    0%
      opacity: 0
      transform: scale(0.8)
    25%
      opacity: 0
      transform: scale(0.8)
    50%
      opacity: 1
      transform: scale(1)
    75%
      transform: translateX(0px)
    100%
      transform: translateX(-177.5px)
  @keyframes signin_In
    0%
      opacity: 0
    100%
      opacity: 1
      transform: translateX(147.5px)
  .devrantron_image
    position: absolute
    animation: logo_In 2.5s forwards
    img
      height: 50vh
      max-height: 450px
  .signin
    position: absolute
    opacity: 0
    animation: signin_In 0.625s 1.875s forwards
    .signup-email
      transition: all 0.2s
      *
        transition: all 0.2s
    .email-hidden
      opacity: 0
      height: 0px
      margin: 0px
      div
        height: 0px
        margin: 0px
        input
          height: 0px
          margin: 0px
    .input-field
      color: white
      input
        &:focus
          border-bottom: 1px solid $devrant-color
          box-shadow: 0 1px 0 0 $devrant-color
    .btn
      background: $main-color
      padding: 0px
      width: calc(50% - 28px)
      margin: 0 5px
