.post_rant_container
  height: 100%
  width: 100%
  display: flex
  align-items: center
  flex-direction: column
  .post_rant
    display: flex
    width: 25rem
    flex-direction: column
    .smart_area
      textarea
        &.smart_textarea
          height: 70vh
        &.tags
          height: 3rem
          margin-top: 0.5rem
