.user_card
  position: absolute
  width: 25rem
  background: rgba(64, 65, 90, 1)
  padding: 1rem;
  transform: translate(-1rem, -1rem);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  .close
    position: absolute
    width: 1.1rem
    height: 1.1rem
    right: 5px
    top: 5px
    border-radius: 100%
    display: flex
    justify-content: center
    align-content: center
    &:hover
      background-color: white
      i
        color: black
